<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div class="content" role="main">
  <h2>Shoes</h2>
  <table style="text-align: left">
    <thead>
    <tr>
      <th style="width: 250px">Model</th>
      <th style="width: 250px">Price</th>
      <th style="width: 250px">State</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let eachShoe of shoeDatabase">
      <td>{{eachShoe.model}}</td>
      <td>{{getPrice(eachShoe.shoeId)}}</td>
      <td>{{getState(eachShoe.shoeId)}}</td>
    </tr>
    </tbody>
  </table>
</div>
